/* Insert any CSS code below here */

body{
  background-color:#9c8b8b;}
  
  p{background-color:#a39595;
    color:#3c3939;
   font-family:Courier New;
   border:2px;
   border-radius:5%;
   border-color:#292929;
   border-style:double;}

  h1, h2{
    color:#5a4e4e;
    font-family:Courier New;
    border:2px;
    border-radius:5%;
    border-color:#424242;
    border-style:double;
  }
img {border:5px solid #7b7474 }
ul {background-color: #dfd2d2;
    font-family:Courier New;
    border:4px;
    border-radius:5%;
    border-color:#424242;
    border-style:double;}
  
ol {background-color: #dfd2d2;
  font-family:Courier New;
  border:4px;
  border-radius:5%;
  border-color:#424242;
  border-style:double;}
p{
  font-size:14px;
  color:#343232;
}